/* app.component.scss */
.container {
    height: 100%;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
    padding: 20px;
    background-color: #ecf0f1; /* Main content background color */
  }
  